.sideNavbar_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dae3f1;
  padding: 1rem;
  position: relative;
}

.brand {
  width: 133px;
  margin: 1rem 0 3rem;
}

.line {
  height: 1px;
  width: 80%;
  background-color: #32e7a4;
  margin: 0.4rem 0;
}

.foursquare_icon {
  margin-right: 0.5rem;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carbon_accounting {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
}
