.offsetting_container {
  padding: 1rem;
  width: 100%;
}

.offsetting_main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem 0;
}

.offsetting_infomation_container {
  grid-area: 1 / 1 / 2 / 2;
  height: 20vh;
}

.offsetting_images_container {
  grid-area: 1 / 2 / 2 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

.offsetting_info {
  padding: 2rem 0;
}

@media all and (max-width: 1440px) {
  .offsetting_images {
    width: 180px;
  }
}

@media all and (max-width: 1280px) {
  .offsetting_images {
    width: 160px;
  }
  .offsetting_images_container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .offsetting_info {
    font-size: 14px;
  }
}

@media all and (max-width: 1040px) {
  .offsetting_images_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.offfsetting_projects_carousel {
  background-color: #ffff;
  grid-area: 2 / 1 / 3 / 4;
  padding: 1rem 2rem;
}

.portfolio_tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 1rem;
  gap: 10px;
}
.tag {
  padding: 0.5rem 0.8rem;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 4px 8px rgba(21, 94, 162, 0.2);
  border-radius: 10px;
}
.project_type_tag {
  background-color: #e1faed;
}

.project_country_tag {
  background-color: #dae3f1;
}

.slick-prev:before,
.slick-next:before {
  color: #dae3f1 !important;
}

.slick-slide > div {
  display: grid;
  place-items: center;
  height: 400px;
  margin: auto;
}