.social_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 1rem;
  padding: 0 1rem 1rem;
}

@media all and (max-width: 1300px) {
  .social_container {
    grid-template-columns: repeat(4, 250px);
  }
}

.pie_one {
  grid-area: 1 / 1 / 2 / 2;
}

.sc2 {
  grid-area: 1 / 2 / 2 / 4;
}

.pie_two {
  grid-area: 1 / 4 / 2 / 5;
}

.social_doughnut {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  justify-content: flex-start;
  height: 38vh;
}
