.social_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 1rem 1rem;
}

@media all and (max-width: 1300px) {
  .social_container {
    grid-template-columns: repeat(4, 250px);
  }
}

.pie_one {
  grid-area: 1 / 1 / 2 / 2;
}

.sc2 {
  grid-area: 1 / 2 / 2 / 4;
}

.pie_two {
  grid-area: 1 / 4 / 2 / 5;
}

.social_doughnut {
  grid-area: 2 / 1 / 3 / 5;
  /* height: 60vh; */
  display: flex;
  justify-content: space-around;
}

.left_doughnut_information {
  display: flex;
}

.right_doughnut_infomation {
  display: flex;
  flex-direction: column;
}
.table_info {
  display: flex;
  margin-right: 1rem;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin-right: 0.33rem;
}

.box1 {
  background-color: #155ea2;
}

.box2 {
  background-color: #fcea64;
}

.box3 {
  background-color: #32e7a4;
}

.box4 {
  background-color: #04b1b4;
}
.box5 {
  background-color: #64b5fc;
}
/* table */
.tg {
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
}
.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  height: 2rem;
}
.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-buh4 {
  background-color: #eff3f9;
  border-radius: 5px;
  text-align: left;
  vertical-align: top;
  display: flex;
  align-items: center;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
  display: flex;
  align-items: center;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
  display: flex;
  align-items: center;
}

.tg-0pky {
  display: flex;
  align-items: center;
}

/* health component  */
.health_safety {
  grid-area: 3 / 1 / 4 / 5;
}

.health_header {
  display: flex;
  justify-content: space-between;
}

.health_charts_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}

.health_chart_description {
  grid-area: 2 / 5 / 3 / 7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hori_line {
  border-bottom: 1.5px solid #cecece;
}
