.container {
  display: grid;
  grid-template-columns: 180px auto;
  background-color: rgb(136, 136, 137);
}

.main_container {
  background-color: #eff3f9;
}

.links {
  color: #eff3f9;
  text-decoration: none;
}
